<section class="grid" style="width: 100%;">
  <div class="col-12 grid">
    <div class="md:col-4 sm:col-12 py-8 mb-1 mt-5 flex justify-content-center flex-wrap">
      <img src="./../../../assets/profile-pic-circle.png" 
      alt="profile pic" class="profile-img">
    </div>
    <div class="md:col-8 sm:col-12 py-8 px-2 mb-3 grid g-1">
      <div class="col-12 ml-4">
        <h3>Hola Mi nombre es, Julio Javier Fuentes</h3>
      </div>
      <div class="col-12 ml-4">
        <p>
          ¡Hola! Soy un ingeniero de sistemas y desarrollador fullstack apasionado por crear 
          soluciones tecnológicas de punta a punta. Mi portafolio refleja mi experiencia en 
          el diseño y desarrollo de aplicaciones web y sistemas completos, combinando tanto 
          el front-end como el back-end. ¡Explora mi trabajo y descubre cómo puedo ayudarte 
          a llevar tus ideas al siguiente nivel tecnológico!
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 grid">
    <app-projects style="width: 100%;"></app-projects>
  </div>
</section>