<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menú" (click)="toggleMenu()">
      <i class="fa fa-bars fa-2xl"></i>
    </button>
    <span>JULIO JAVIER FUENTES</span>
    <span class="space"></span>
    <button mat-icon-button (click)="openTab('gh')">
      <i class="fa fa-github fa-lg"></i>
      GitHub
    </button>
    <button mat-icon-button (click)="openTab('ln')">
      <i class="fa fa-linkedin fa-lg"></i>
      LinkedIn
    </button>
  </mat-toolbar-row>
</mat-toolbar>