.space {
    flex: 1 1 auto;
    flex-grow: 4;
}

button {
    margin-right: 7px;
    background-color: rgba(#3f51b5, 0.1);
    color: #ffffff;
    border-bottom: rgba(white, 0.3) solid;
    border-right: rgba(white, 0.3) solid;
    height: 30px;
}